<nav class="navbar navbar-expand-lg navbar-dark">

    <div class="container-fluid">

        <a class="navbar-brand" href="#">
          <img src="assets/img/angular-icon.svg" alt="angular" width="30" height="24">
        </a>

        <a class="navbar-brand" href="#">GOTY</a>

        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav">

                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/inicio">Inicio</a>
                </li>

                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/goty">Votar</a>
                </li>

            </ul>

        </div>

    </div>

  </nav>